<div>
  <h1><a href= "/posts">Flacker News</a></h1>

  <h2> <%= @post.name %> </h2>
  <h5> posted by <%= @user.username %> at <%= @user.created_at %></h5>
<ul>
  <% @comments.each do |comment| %>
   <li><a href="/users/<%= comment.user_id %>"><%= comment.content %></a></li>
  <% end %>
</ul>
</div>
